body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  background-image: url("./images/dark-dungeon.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position-y: center; */
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;

}

body h1 {
  font-size: 30px;
  text-transform: uppercase;
}

body button {
  /* background-image: url("/images/Wiki-background.png");
  background-size: cover; */
  font-size: 40px;
  background: rgb(82, 78, 78);
  color: #fff;
  padding: 20px 50px;
  border: 0;
  box-shadow: 0;
  border-radius: 20px;
  margin: 10px 0;
}

.mainImg {
  width:700px;
  margin: 50px 0 20px 0;
}

#game-board {
  display: flex;
  justify-content: center;
  text-align: center;
}

#canvass {
  /* border:10px solid black;
  background-color: black; */
  margin: 30px;

}

#gameover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#keyboard {
  display: flex;
  justify-content: center;
  align-items: center;



}

#arrow {
  width:300px ;
  margin: 0 50px;

}

#spacebar {
  width: 500px;
  margin: 0 50px;

}





